<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#1e38a0;">Codize connector</h2>
        <h3 class="oe_slogan">Codize connector License, for Codize App.</h3>
    </div>
</section>

<section>
    <h4 class="oe_slogan">What it is?</h4>
    <p class="text-center">
    </p>
    <h5 class="oe_slogan">by <img src="moldeo_interactive_logo.png" style="width:40px;margin-left:8px;" /> <span style="color:#1e38a0;">Moldeo Interactive</span></h5>
    <h5 class="oe_slogan"><b>contact:</b> <a href="mailto:info@moldeointeractive.com.ar">info@moldeointeractive.com.ar</a></h5>
</section>

<section>
    <div style="padding:20px;background:#1e38a0;color:#fff;text-align:center;font-size:38px;">
	<a style="color:#fff" href="https://www.youtube.com/moldeointeractive" target="blank"><i class="fa fa-youtube-play"/></a>
        <a style="color:#fff" href="https://www.github.com/ctmil" target="blank"><i class="fa fa-github"/></a>
	<a style="color:#fff" href="https://www.facebook.com/moldeointeractive" target="blank"><i class="fa fa-facebook"/></a>
	<a style="color:#fff" href="https://www.linkedin.com/company/moldeointeractive" target="blank"><i class="fa fa-linkedin"/></a>
	<a style="color:#fff" href="https://www.twitter.com/moldeointer" target="blank"><i class="fa fa-twitter"/></a>
	<a style="color:#fff" href="https://www.instagram.com/moldeointeractive" target="blank"><i class="fa fa-instagram"/></a>
    </div>
</section>
